<div class="min-h-screen flex items-center justify-center bg-gray-50 dark:bg-gray-900 px-4">
  <div class="max-w-md w-full space-y-8">
    <div class="text-center">
      <h2 class="mt-6 text-3xl font-extrabold text-gray-900 dark:text-white">
        Welcome to Selah.fi
      </h2>
      <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">Your personal finance companion</p>
    </div>
    @if(loginError != ''){
    <app-alert [alertType]="AlertType.Error">
      <div>{{ loginError }}</div>
    </app-alert>
    }
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin($event)" class="mt-8 space-y-6">
      <div class="space-y-4">
        <app-floating-label
          formControlName="email"
          id="email"
          label="Email Address"
          name="email"
          type="email"
          [required]="true"
        />
        <div class="mt-8"></div>
        <app-floating-label
          formControlName="password"
          id="password"
          label="Password"
          name="password"
          type="password"
          [required]="true"
        />
      </div>

      <button
        [disabled]="!loginForm.valid"
        type="submit"
        class="mt-4 w-full flex justify-center py-3 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-400 disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-teal-600"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
